{% extends 'root.html' %} {% block record %}
<div class="maincontainer">
  <h1 style="text-align: center;">Financial Record</h1>
  <table class="table ">
    <thead class="thead-dark">
        <tr>
            <th>Transaction</th>
            <th colspan="3" >Source</th>
            <th colspan="3">Amount</th>
            <th>Date</th>
            <th>Action</th>

        </tr>

    </thead>
    <tbody>
        <tr>
            
            {% for data in alldatas %}
            <td style="color: {% if data.category == 'income' %} green {% else %} red {% endif %}">
                <h6>{{ data.category }}</h6>
            </td>
            <!-- <td>Rent</td>
            <td>Rent</td> -->
            <td>
            
            {% if data.source_1_name %}
            {{ data.source_1_name }}
        {% endif %}
    </td>
    <td>
        {% if data.source_2_name %}
        {{ data.source_2_name }}
    {% endif %}
</td>
<td>
    {% if data.source_3_name %}
    {{ data.source_3_name }}
{% endif %}
</td>
    
            <!-- <td>{{data.source_1_amount}}</td> -->
            
            <!-- <td>Rs.12000</td>
            <td>Rs.12000</td> -->
            <td>
                {% if data.source_1_amount %}
                {{ data.source_1_amount }}
            {% endif %}
            </td>
            <td>
                {% if data.source_2_amount %}
                {{ data.source_2_amount }}
            {% endif %}
            </td>
            <td>
                {% if data.source_3_amount %}
                {{ data.source_3_amount }}
            {% endif %}
    
            </td>
            <td>{{data.date}}</td>
            <td class="btn">
                {% if data.category == 'income' %}
                <a href="{% url 'editincome' data.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'deleteincome' data.id %}" class="btn btn-danger">Delete</a>
                {% else %}
                <a href="{% url 'editexpenses' data.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'deleteexpenses' data.id%}" class="btn btn-danger">Delete</a>
                {% endif %}

                <!-- <a href="" class="btn btn-warning">Delete</a> -->
            </td>
        </tr>
       {% endfor %}
      
       
    </tbody>

  </table>
</section>

{% endblock %}
